#pencilTool {
  -fx-background-image: url('file:resources/pencil24-px.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#brushTool {
  -fx-background-image: url('file:resources/artistic-brush24-px.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  
}

#eraseTool {
  -fx-background-image: url('file:resources/rubber24-px.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  
}

#selectionTool {
  -fx-background-image: url('file:resources/cursor16-px.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
 
}

#cutTool {
  -fx-background-image: url('file:resources/scissors.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#fillTool {
  -fx-background-image: url('file:resources/paint-bucket.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#undoTool {
  -fx-background-image: url('file:resources/undo.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#redoTool {
  -fx-background-image: url('file:resources/redo.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#lineIcon {
  -fx-background-image : url('file:resources/diagonal-line.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#circleIcon {
  -fx-background-image:  url('file:resources/plain-circle.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
  }

#ellipseIcon {
  -fx-background-image:  url('file:resources/ellipse.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#triangleIcon {
  -fx-background-image:  url('file:resources/triangle.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#squareIcon {	
  -fx-background-image:  url('file:resources/square.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#rectangleIcon {
  -fx-background-image:  url('file:resources/rectangle.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#deleteShapes {
  -fx-background-image:  url('file:resources/rubbish-bin.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#dragShapes {
  -fx-background-image:  url('file:resources/move.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#resizeShapes {
  -fx-background-image:  url('file:resources/resize.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#newCanvasDone {
  -fx-background-image:  url('file:resources/check-mark.png');
  -fx-background-position: center;
  -fx-background-repeat: stretch;
}

#pane {
	-fx-background-color: white;
	-fx-border-width: 0.0 1.0 1.0 0.0;
	-fx-border-color: gray;
	-fx-padding: 0.0 10.0 10.0 0.0
}

#mainPane {
	-fx-background-color: transparent ;
}

#anchorPane {
	-fx-background-color: transparent ;
}

